doctype html
html
	include inc/header
		body
			
					
			.navbar.navbar-default.navbar-static-top(role='navigation')
				.container
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') #{brand}
					.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a(href='/')
									img#title-image(src='/foodme2.png')
							- var obj = {'/': 'Home', 'orders':'Orders', 'menu':'Menu', 'statistics':'Statistics' }
								- each val, key in obj
									- if (id == key)
										li.active
											a(href='#{key}') #{val}
									- else
										li
											a(href='#{key}') #{val}
						ul.nav.navbar-nav.navbar-right
							-if(user)
								li
									p.navbar-text signed in as #{user.name}
								li
									button(class='btn btn-default navbar-btn', type='button', onClick='signOut') sign out
							-else
								li
									p.navbar-text Not signed in
								li
									button(class='btn btn-default navbar-btn', type='button', data-toggle='modal', data-target='#loginModal') sign in
					
			
			div(class='modal fade', id='loginModal', tabindex='-1', role='dialog', aria-labelledby='loginModalLabel',aria-hidden='true')
				div(class='modal-dialog modal-sm')
					div(class='modal-header')
						button(type='button', class='close', data-dismiss='modal',aria-hidden='true') &times;
						h4(class='modal-title', id='loginModalLabel') sign in
					div(class='modal-body')
						form
							input(class='signInInput', type='text', placeholder='email')
							input(class='signInInput', type='password' placeholder='password')
					div(class='modal-footer')
						button(class='btn btn-primary', type='submit') sign in
						button(class='btn btn-default', type='button', data-dismiss='modal',aria-hidden='true') close
		block content
		block foot
			h5#footerText(class='small') Copyright SEGFAULT 2014