extends layout

block content
	div.container
		div.jumbotron
			h2 Edit Menu
			
			div.panel-group(id='accordion')
				- each categoryVal, categoryKey in categories
					div.panel.panel-default
						div.panel-heading
							h4.panel-title
								a(data-toggle='collapse', data-parent='#accordion', href='##{categoryKey}') #{categoryKey}
						div.panel-collapse.collapse(id=categoryKey)
							div.panel-body
								div.panel-group(id='#{categoryKey}Accordion')
									- for subcategory in categoryVal.subcategories
										div.panel.panel-default
											div.panel-heading
												h4.panel-title
													a(data-toggle='collapse', data-parent='##{categoryKey}Accordion', href='##{subcategory.name}') #{subcategory.name}
													button.btn.btn-primary(type='button') rename
													button.btn.btn-danger(type='button') delete
											div.panel-collapse.collapse(id='#{subcategory.name}')
												div.panel-body
													p #{subcategory.name} #{subcategory.name} #{subcategory.name} !!!!
									div.panel.panel-default
										div.panel-heading
											h4.panel-title
												a(data-toggle='collapse', data-parent='##{categoryKey}Accordion', href='##{categoryKey}New') + new #{categoryKey} subcategory
										div.panel-collapse.collapse(id='#{categoryKey}New')
											div.panel-body
												form
													input(type='text', placeholder='subcategory name')
													button(class='btn btn-primary', type='submit') add
						
						