extends layout

block content
	div.container
		div.jumbotron
			h2 Edit Menu
			
			div.panel-group(id='accordion')
				- each categoryVal, categoryKey in categories
					div.panel.panel-primary(style='width:700px')
						div.panel-heading
							h4.panel-title
								a(data-toggle='collapse', data-parent='#accordion', href='##{categoryKey}') #{categoryKey}
						div.panel-collapse.collapse(id=categoryKey)
							div.panel-body
								div.panel-group(id='#{categoryKey}Accordion')
									- for subcategory in categoryVal.subcategories
										div.panel.panel-default
											div.panel-heading.clearfix
												h4.panel-title
													a(data-toggle='collapse', data-parent='##{categoryKey}Accordion', href='##{subcategory.name}') #{subcategory.name}
													div.btn-group.pull-right
														button.btn.btn-primary(type='button') rename
														button.btn.btn-danger(type='button') delete
											div.panel-collapse.collapse(id='#{subcategory.name}')
												div.panel-body(style='padding-bottom:40px')
														table.table
															thead
																tr
																	th name
																	th price
																	th description
															tbody
																- for item in subcategory.items
																	tr
																		td
																			div.dropdown
																				a(data-toggle='dropdown', href='#') #{item.name}
																				ul.dropdown-menu(role='menu')
																					li
																						a(href='#') edit
																					li
																						a(href='#') delete
																		td #{item.price}
																		td #{item.description}
																tr
														a + new item
									div.panel.panel-success
										div.panel-heading
											h4.panel-title
												a(data-toggle='collapse', data-parent='##{categoryKey}Accordion', href='##{categoryKey}New') + new #{categoryKey} subcategory
										div.panel-collapse.collapse(id='#{categoryKey}New')
											div.panel-body
												form
													div.form-group
														input(type='text', placeholder='subcategory name')
													button(class='btn btn-primary', type='submit') add
						
						