extends layout

block content
	div.container
		div.jumbotron
			h1 Active Orders
			div.jumbotron(style='background-color:white;')
				table.table
					thead
						tr
							th order ID#
							th table
							th time waiting
							th quantity
							th item
							th notes
							th status
							th
					tbody
						- for order in ticket_items
							- var red = 0
							//
								- var red = order.time * 10
							tr
								td #{order.ticket_id}
								td #(order.ticket.table}
								td(style='color:rgb(#{red},0,0);') #{order.ticket.ticket_date}
								td #{order.quantity}
								td #{order.menu_item.name}
								td #{order.notes}
								td #{order.kitchen_code}
								td
									button.btn.btn-primary.btn-sm mark delivered
								td
									button.btn.btn-danger.btn-sm delete